body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* border: 1px solid pink; */
  }
  

  header {
    font-family: 'Anton', 'Walter Turncoat', coursive, Arial, sans-serif;
    position: sticky;
    top: 0;
    text-align: center;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #333;
    box-shadow: 0px 0px 6px 3px #333;
    /* border: 3px solid purple; */
  }


.start {
  color: #f1f1f1;
  letter-spacing: 5px;
  margin: 0px 0px 0px 30px;
  line-height: 5px;
}

.motto {
  font-size: 11px;
}

  nav {
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 20px;
    /* flex: 1; */
    /* border: 3px solid orange; */
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
    /* background-color: #333; */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    /* border: 3px solid greenyellow; */
  }
  
  nav ul li {
    /* border: 3px solid red; */
    margin: 0px 7px;
  }
  
  nav ul li a {
    display: block;
    color: #f1f1f1;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    transition: transform 0.1s ease;
  }
  
  nav ul li a:hover {
    transform: scale(1.05);
    border-radius: 25px;
    background-color: #111;
  }


  /* MAIN */

  .home {
    padding: 30px 50px;
    margin-top: 10px;
    /* border: 3px solid purple; */
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .titpage {
    font-family: 'Anton';
    text-align: center;
    margin: 25px auto 20px auto;
    letter-spacing: 1px;
  }

  .vendita {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
  }

  .opere {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
  }

  .quadro {
    border: 1px solid #333;
    border-radius: 20px;
    margin: 0px 20px;
    width: 400px;
    height: 400px;
    box-shadow: 2px 2px 6px 1px #ccc;
  }

  .imgquadro {
    border-radius: 20px;
    object-fit: scale-down;
    width: 400px;
    height: 400px;
  }

  .prezzotitoloacquista {
    padding: 5px 0px;
    margin: 4px 0px 30px 0px;
    font-size: 20px;
    text-align: center;
    font-family: italic;
    border: 1px solid #333;
    border-radius: 20px;
    width: 400px;
    box-shadow: 2px 2px 6px 1px #ccc;
    line-height: 30px;
  }

  .carrello {
    padding: 5px;
    object-fit: scale-down;
    width: 40px;
    height: 25px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #333;
    box-shadow: 1px 1px 1px 1px #ccc;
    transition: transform 0.1s ease;
  }

  .carrello:hover {
    transform: scale(1.1);
  }


  /* CAROSELLO */

  .biografia {
    /* border: 3px solid greenyellow; */
    width: 60%;
    text-align: justify;
  }

  hr {
    border: 1px solid #333;
    border-radius: 30px;
    height: 400px;
  }

  .about {
    text-align: left;
    margin-top: 0px;
    font-family: 'Anton';
    letter-spacing: 1px;
  }

  /*
  .carousel {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 400px;
    width: 90%;
    /*border: 3px solid red;
  } */

  .carousel {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 30%;
    border-radius: 30px;
    border: 1px solid #333;
  }

  .carousel img {
    display: none;
    height: 400px;
    width: 700px;
    object-fit: scale-down;
  }
  
  .carousel img.active {
    display: inline-block;
    
  }

  
/* FOOTER */

footer {
  padding: 15px;
  background-color: #333;
  box-shadow: 0px 0px 6px 3px #ccc;
}

.collegamenti {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.iconasocial {
  margin: 0px 10px 0px 10px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  transition: transform 0.1s ease;
}

.iconasocial:hover {
  transform: scale(1.2);
}

.copy {
  color: #f1f1f1;
  text-align: center;
  margin-bottom: 4px;
}

/* FORM */

.contatti {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  margin: 20px;
  width: 60%;
  min-width: 400px;
}

fieldset {
  border: none;
  margin-top: 10px;
}

label {
  display: block;
  text-align: center;
  font-family: 'Anton';
  letter-spacing: 1px;
}

input {
  margin: 10px 0 0 0;
  width: 55%;
  min-width: 250px;
  min-height: 30px;
  background-color: #333;
  border: 1px solid #333;
  color: #f1f1f1;
  box-shadow: 3px 3px 8px #ccc;
  border-radius: 10px;
}

input[type="submit"] {
  display: block;
  width: 10%;
  margin: 16px auto;
  height: 30px;
  font-size: 15gitpx;
  background-color: #333;
  color: #f1f1f1;
  min-width: 150px;
  border-radius: 25px;
  transition: transform 0.1s ease;
}

input[type="submit"]:hover {
transform: scale(1.101);
cursor: pointer;
}

textarea {
  width: 55%;
  min-width: 250px;
  margin: 10px 0 0 0;
  background-color: #333;
  border: 1px solid #333;
  color: #f1f1f1;
  resize: none;
  box-shadow: 3px 3px 8px #ccc;
  border-radius: 10px;
}



@media only screen and (max-width: 767px) {

  header {
    flex-direction: column;
  }
  .start {
    margin: auto;
    border-bottom: 1px solid #f1f1f1;
  }
  nav {
    margin: 5px auto 5px auto;
  }
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
  .biografia {
    margin-top: 5px;
    width: 85%;
  }
  .about {
    text-align: center;
    margin-bottom: 0px;
  }
  .carousel {
    margin-top: 5px;
    margin-bottom: 0px;
    width: 85%;
  }
  hr {
    rotate: 90deg;
    margin: 0px;
    padding: 0px;
    height: 50px;
  }
  .quadro {
    width: 330px;
  }
  .imgquadro {
    width: 100%;
  }
  .prezzotitolo {
    width: 330px;
  }
}
